/* Hero Section */

.home-container{
  width: 100vw;
}
.hero-section {
  width: 100vw;
    background: url('https://wallpaperaccess.com/full/9524787.jpg') no-repeat center center/cover;
    color: white;
    text-align:flex-start;
    /* padding: 100px 20px; */
    display: flex;
    height:100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  
  .hero-section h1 {
    font-size: 3rem;
    /* margin-bottom: 200px; */
    text-align: start;

  }
  
  .hero-section p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
